# @host={{@dotenv API_HOST}} # REST-CLIENT
# @host=http://localhost:8080
@host={{API_HOST}}

{{
  exports.RANDOM = Math.random();
}}

###

GET /users

{{
  test.status(404);
}}

###
GET https://garn.dev/


{{
  test.status(201);
}}

###

GET https://mock-api.deno.dev/?status=302&body={{RANDOM}}

{{
  test.status(302);
}}

###

GET https://mock-api.deno.dev/?body=hola

{{
  test.responseBody("hola");
}}

###
GET https://mock-api.deno.dev/?headers={"x-hello":"world"}

{{
  test.header("x-hello", "world");
}}



###
GET https://mock-api.deno.dev/?headers={"content-type":"application/json"}&body={"hello":"world"}

{{
  test.header("content-type", "application/json");
  test.responseBody('{"hello":"world"}');
  test.status(200);
}}

###

POST https://mock-api.deno.dev/?headers={"content-type":"application/json"}&body={"hello":"world"}
Accept: application/json
Content-Type: application/json

{"hola":"mundo"}


{{
  const { equal } = require('assert');
  test('status code 200', () => {
    equal(response.statusCode, 200);
  });

  test('status body', async() => {
    equal(await response.json(), {hola:"mundo"});
  });
}}